.delivery {
  display: flex;
  align-items: center;
  column-gap: 11px;
  color: #fff;
  transition: color 0.2s;
}

.deliveryIcon {
  width: 29px;
  height: 17px;
}
.deliveryText {
  font-weight: 400;
  font-size: 14px;
}

.delivery:hover {
  color: #d74444;
}
