:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Roboto Condensed", sans-serif;
  --third-family: "Playfair Display", sans-serif;

  --main-color: #245462;
  --text-color: #414141;
}
